APScheduler==3.6.3
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
crontab==0.22.6
dbfread==2.0.4
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.1
gevent==1.5.0
gevent-tasks==0.3.1
greenlet==0.4.15
idna==2.9
ijson==2.6.1
importlib-metadata==1.6.0
inflect==4.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
maps==5.1.1
MarkupSafe==1.1.1
marshmallow==3.6.1
marshmallow-sqlalchemy==0.23.1
meza==0.41.1
numpy==1.18.2
pigpio==1.46
pkg-resources==0.0.0
pygogo==0.12.0
pyodbc==4.0.30
python-dateutil==2.8.1
python-engineio==3.12.1
python-slugify==1.2.6
python-socketio==4.5.1
pytz==2020.1
PyYAML==3.13
requests==2.23.0
six==1.14.0
soupsieve==2.0
spidev==3.4
sqlacodegen==2.1.0
SQLAlchemy==1.3.16
termcolor==1.1.0
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.9
Werkzeug==1.0.1
xlrd==1.2.0
zipp==3.1.0
